/* Estilos gerais */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 20px auto;
    max-width: 80em;
    padding-bottom: 10%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para telas menores */
  @media only screen and (max-width: 768px) {
    .container {
      margin: 10px;
      padding-bottom: 20%;
    }
  
    h1 {
      font-size: 24px;
      padding: 10px;
      text-align: center;
    }
  
    p {
      font-size: 18px;
      margin-left: 0;
      text-align: justify;
    }
  
    .pularlinha {
      margin: 10px 0;
    }
  
    label {
      margin-left: 0;
    }
  
    .button {
      margin: 5% auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .styleButton {
      font-size: 14px;
      margin: 10px auto;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
  
    .styleButton:hover {
      background-color: #3e8e41;
    }
  
    .tela {
      margin-top: 10%;
      margin-left: 0;
      font-size: 18px;
      text-align: center;
    }
 }
  
  /* Estilos para telas maiores */
  @media only screen and (min-width: 769px) {
    .container {
      margin: 20px auto;
      padding-bottom: 10%;
    }
  
    h1 {
      font-size: 30px;
      padding: 20px;
      text-align: center;
    }
  
    p {
      font-size: 20px;
      margin-left: 2%;
      text-align: justify;
    }
  
    label {
      margin-left: 2%;
    }
  
    .button {
      margin: 1% 2% 5% 2%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .styleButton {
      font-size: 16px;
      margin: 4px 2%;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
  
    .styleButton:hover {
      background-color: #3e8e41;
    }
  
    .tela {
      margin-top: 5%;
      margin-left: 2%;
      font-size: 20px;
      text-align: left;
    }
  }
  